html, body {
    height: 100%;
    font: 13px Europa, Avenir;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grey {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: not-allowed !important;
}

/* The ghost, nudged to maintain perfect centering */
.main-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.main-container {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.main-screen {
    width: 1200px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}


.messages {
    height: 246px;
    width: 183px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    padding: 10px;
    word-wrap: break-word;
    line-height: 1.5;
    position: absolute;
    color: #FFF;
    background: #000;
    margin-top: 57px;
    margin-left: 397px;
    z-index: 100;
    font-size: 0.9em;
    border-radius: 9px;
}

.messages ul {
    list-style: inside;
    list-style-type: square;
    padding-left: 0;
}

.time-screen {
    font-size: 2em;
    font-weight: 700;
    color: #6455c2;
    min-height: 40px;
}

#time:hover {
    cursor: pointer;
    color: darkcyan;
}

.time-screen.last-ten-seconds {
    color: darkred;
}

.player-screen {
    height: 608px;
    position: relative;
    width: 100%;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.race-line-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.race-line {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.race-line > * {
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

.race img {
    width: 50px;
}

#poor-race, #rich-race {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#rich-race {
    padding-left: 50px;
    top: 530px;
}

#poor-race {
    padding-right: 50px;
    top: 530px;
}

.race-score {
    color: cornflowerblue;
    padding: 3px;
    width: 100px;
    background: white;
}

#rich-race:after, #poor-race:after {
    width: 40px;
    font-size: 0.8em;
    font-weight: bold;
    background: white;
    color: cornflowerblue;
    content: attr(title);
    position: absolute;
    border-radius: 3px;
    margin-top: 41px;
}

#rich-race:after {
    margin-left: -37px;
}

#poor-race:after {
    margin-left: -51px;
}

.sprite-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 523px;
    overflow: hidden;
}

.sprite-container img {
    /*margin: 25px;*/
}

.sprite-outer {
    height: 399px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    margin-bottom: 153px;
}

.sprite {
    position: relative;
}

.sprite img {
    bottom: 0px;
}

.poor {
    background-color: #F8E1DD;
    background-image: url('../img/envpoor.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 50%;
    position: relative;
    float: left;
    transition: background 0.2s linear;
}

.rich {
    background: #c9c0fb;
    background-image: url('../img/envrich.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 50%;
    position: relative;
    float: left;
}

#clickgold, #clickscore {
    position: absolute;
    top: 327px;
}

#clickgold img, #clickscore img {
    width: 160px;
}

#clickgold {
    left: 24px;
}

#clickscore {
    left: 375px;
}

.unclickable img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.clickable {
    z-index: 1000;
}

.clickable:hover {
    cursor: pointer;
}

.clickable:hover .clickbutton {
    background: #da6262;
}

.clickable:active .clickbutton {
    background: #f68683;
    box-shadow: 0px 2px #a7466d;
}

.clickable:active img {
    -webkit-filter: brightness(1.08);
    filter: brightness(1.08);
}

.clickbutton {
    font-weight: 700;
    padding: 4px;
    width: 100px;
    border-radius: 5px;
    color: white;
    background: indianred;
    position: absolute;
    margin-left: 25px;
    margin-top: -19px;
    box-shadow: 0px 3px #a7466d;
}

#clickscorebutton {
    left: 10px;
}

.status {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 25px;
    font-size: 1.5em;
    font-weight: 700;
    display: none;
}

.clickable:before{
    background: #303030;
    border-radius: 5px;
    color: #fff;
    content: attr(title);
    padding: 5px 15px;
    position: absolute;
    margin-left: 43px;
    margin-top: -49px;
}

/*.unclickable:before {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: deepskyblue;
    color: white;
    content: attr(title);
    position: absolute;
    margin-top: 45px;
    margin-left: 34px;
    z-index: 100;
}*/

.stat-screen {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.stats {
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    height: 108px;
    width: 77%;
}

.stat-circle {
    width: 70px;
    height: 70px;
    background: black;
    font-weight: 700;
    font-size: 1.7em;
    color: white;
    border-radius: 50%;
    display: table;
    margin: 0 auto;
}

.stat-text {
    display: table-cell;
    vertical-align: middle;
}

.stat-description {
    display: block;
}

.disabled-stat {
    background: #979797;
    color: #d7d7d7;
}

.item-screen {
    text-align: center;
}

.item-screen-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    font-weight: 700;
    padding: 5px 0;
    background: black;
    color: white;
    margin-top: 20px;
}

.item-cell {
    width: 10%;
    overflow: hidden;
    float: left;
    text-align: center;
    padding: 15px 0;
    margin: 0;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.item-cell:nth-child(odd) {
    background: #C9E9BD;
}

.item-cell:nth-child(even) {
    background: gold;
    background: #a2d9a9;
}

.item-cell:hover {
    cursor: pointer;
    background: #fffad9;
    transition: 0.2s;
}

.item-coin {
    display: inline-block;
    margin-right: 3px;
    width: 15%;
}

.item-cost {
    display: inline-block;
}

.item-name {
    font-weight: 700;
    margin: 0 10px;
}

.item-img {
    width: 90px;
    height: 90px;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 15px;
}

.item-img img {
    width: 100%;
    height: 100%;
}

.unbuyable, .unbuyable:hover {
    background: #e5e5e5 !important;
    cursor: default;
}

.unbuyable img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.event-display {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 21px;
    z-index: 200;
}

.event-container {
    background-color: white;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    display: inline-block;
    font-size: 1.1em;
    border-radius: 11px;
}

.event-title {
    font-size: 1.2em;
    font-weight: 700;
}

#rich-event-title {
    color: rgb(236, 146, 29);
}

#poor-event-title {
    color: royalblue;
}

.event-points {
    font-weight: 700;
    display: inline;
}

.event-points.add {
    color: mediumseagreen;
}

.event-points.minus {
    color: indianred;
}

#poor-event, #rich-event {
    display: none;
}

.event-text {
}


.item-cell:hover:after{
    background: #303030;
    border-radius: 5px;
    color: #fff;
    content: attr(title);
    padding: 5px 15px;
    z-index: 100;
    position: absolute;
    margin-left: -110px;
    margin-top: -195px;
}

.hint {
    position: absolute;
    background: cornflowerblue;
    padding: 3px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

#prompt2 {
    margin-top: 186px;
    margin-left: -98px;
}

#prompt1, #prompt2, #prompt3 {
    display: none;
    z-index: 9999;
}

.restart-link-container {
    width: 100%;
    margin: 0 auto;
    display: none;
    font-size: 3em;
}

.final-sprite {
    display: none;
    height: 100%;
    width: 25%;
    position: relative;
    float: left;
}

.final-sprite img {
    max-width: 100%;
    max-height: 100%;
}

.the-end {
    display: none;
    height: 100%;
    width: 25%;
    position: relative;
    float: left;
    font-size: 2.5em;
    padding: 50px;
}

.poor-end {
    text-align: left;
}

.rich-end {
    text-align: right;
}

.end-title {
    font-weight: bold;
    color: royalblue;
}

.restart-link {
    text-transform: none;
    text-underline: none;
    font-weight: bold;
    color: indianred;
}

/* shepherd */

.shepherd-element,
.shepherd-element:after,
.shepherd-element:before,
.shepherd-element *,
.shepherd-element *:after,
.shepherd-element *:before {
    box-sizing: border-box;
}
.shepherd-element {
    position: absolute;
    display: none;
}
.shepherd-element.shepherd-open {
    display: block;
}
.shepherd-element.shepherd-theme-arrows {
    max-width: 100%;
    max-height: 100%;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content {
    border-radius: 5px;
    position: relative;
    font-family: inherit;
    background: #fff;
    color: #444;
    padding: 1em;
    font-size: 1.1em;
    line-height: 1.5em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
}
.shepherd-element.shepherd-theme-arrows .shepherd-content:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 16px;
    border-style: solid;
    pointer-events: none;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-bottom.shepherd-element-attached-center .shepherd-content {
    margin-bottom: 16px;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-bottom.shepherd-element-attached-center .shepherd-content:before {
    top: 100%;
    left: 50%;
    margin-left: -16px;
    border-top-color: #fff;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-top.shepherd-element-attached-center .shepherd-content {
    margin-top: 16px;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-top.shepherd-element-attached-center .shepherd-content:before {
    bottom: 100%;
    left: 50%;
    margin-left: -16px;
    border-bottom-color: #fff;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-right.shepherd-element-attached-middle .shepherd-content {
    margin-right: 16px;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-right.shepherd-element-attached-middle .shepherd-content:before {
    left: 100%;
    top: 50%;
    margin-top: -16px;
    border-left-color: #fff;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-left.shepherd-element-attached-middle .shepherd-content {
    margin-left: 16px;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-left.shepherd-element-attached-middle .shepherd-content:before {
    right: 100%;
    top: 50%;
    margin-top: -16px;
    border-right-color: #fff;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-top.shepherd-element-attached-left.shepherd-target-attached-bottom .shepherd-content {
    margin-top: 16px;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-top.shepherd-element-attached-left.shepherd-target-attached-bottom .shepherd-content:before {
    bottom: 100%;
    left: 16px;
    border-bottom-color: #fff;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-top.shepherd-element-attached-right.shepherd-target-attached-bottom .shepherd-content {
    margin-top: 16px;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-top.shepherd-element-attached-right.shepherd-target-attached-bottom .shepherd-content:before {
    bottom: 100%;
    right: 16px;
    border-bottom-color: #fff;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-bottom.shepherd-element-attached-left.shepherd-target-attached-top .shepherd-content {
    margin-bottom: 16px;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-bottom.shepherd-element-attached-left.shepherd-target-attached-top .shepherd-content:before {
    top: 100%;
    left: 16px;
    border-top-color: #fff;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-bottom.shepherd-element-attached-right.shepherd-target-attached-top .shepherd-content {
    margin-bottom: 16px;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-bottom.shepherd-element-attached-right.shepherd-target-attached-top .shepherd-content:before {
    top: 100%;
    right: 16px;
    border-top-color: #fff;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-top.shepherd-element-attached-right.shepherd-target-attached-left .shepherd-content {
    margin-right: 16px;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-top.shepherd-element-attached-right.shepherd-target-attached-left .shepherd-content:before {
    top: 16px;
    left: 100%;
    border-left-color: #fff;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-top.shepherd-element-attached-left.shepherd-target-attached-right .shepherd-content {
    margin-left: 16px;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-top.shepherd-element-attached-left.shepherd-target-attached-right .shepherd-content:before {
    top: 16px;
    right: 100%;
    border-right-color: #fff;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-bottom.shepherd-element-attached-right.shepherd-target-attached-left .shepherd-content {
    margin-right: 16px;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-bottom.shepherd-element-attached-right.shepherd-target-attached-left .shepherd-content:before {
    bottom: 16px;
    left: 100%;
    border-left-color: #fff;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-bottom.shepherd-element-attached-left.shepherd-target-attached-right .shepherd-content {
    margin-left: 16px;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-bottom.shepherd-element-attached-left.shepherd-target-attached-right .shepherd-content:before {
    bottom: 16px;
    right: 100%;
    border-right-color: #fff;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-top.shepherd-element-attached-center.shepherd-has-title .shepherd-content:before,
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-top.shepherd-element-attached-right.shepherd-target-attached-bottom.shepherd-has-title .shepherd-content:before,
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-top.shepherd-element-attached-left.shepherd-target-attached-bottom.shepherd-has-title .shepherd-content:before {
    border-bottom-color: #55a892;
}
.shepherd-element.shepherd-theme-arrows.shepherd-has-title .shepherd-content header {
    background: #55a892;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    padding: 1em;
}
.shepherd-element.shepherd-theme-arrows.shepherd-has-title .shepherd-content header a.shepherd-cancel-link {
    padding: 0;
    margin-bottom: 0;
}
.shepherd-element.shepherd-theme-arrows.shepherd-has-cancel-link .shepherd-content header h3 {
    float: left;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content {
    padding: 0;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content * {
    font-size: inherit;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content header {
    *zoom: 1;
    border-radius: 5px 5px 0 0;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content header:after {
    content: "";
    display: table;
    clear: both;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content header h3 {
    margin: 0;
    line-height: 1;
    font-weight: normal;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content header a.shepherd-cancel-link {
    float: right;
    text-decoration: none;
    font-size: 1.25em;
    line-height: .8em;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.7);
    opacity: 0.25;
    position: relative;
    top: .1em;
    padding: .8em;
    margin-bottom: -.8em;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content header a.shepherd-cancel-link:hover {
    opacity: 1;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content .shepherd-text {
    padding: 1em;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content .shepherd-text p {
    margin: 0 0 0.5em 0;
    line-height: 1.3em;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content .shepherd-text p:last-child {
    margin-bottom: 0;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content footer {
    padding: 0 1em 1em;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons {
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 0;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li {
    display: inline;
    padding: 0;
    margin: 0;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li .shepherd-button {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    margin: 0 0.5em 0 0;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .8em;
    line-height: 1em;
    padding: 0.75em 2em;
    background: #3288e6;
    color: #fff;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li .shepherd-button.shepherd-button-secondary {
    background: #eee;
    color: #888;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li:last-child .shepherd-button {
    margin-right: 0;
}
.shepherd-element.shepherd-theme-arrows.shepherd-transparent-text .shepherd-text {
    font-size: 1.2em;
    color: #3b744f;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content {
    max-width: 400px;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content a {
    color: inherit;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li .shepherd-button {
    background: #55a892;
}

@media screen and (max-width: 1280px){
    html{
        zoom: 90%;
        -moz-transform: scale(0.9, 0.9);
    }
}
@media screen and (max-height: 900px){
    html{
        zoom: 90%;
        -moz-transform: scale(0.9, 0.9);
    }
}
@media screen and (max-width: 1230px){
    html {
        zoom: 80%;
        -moz-transform: scale(0.8, 0.8);
    }
}