html, body {
    height: 100%;
    font: 14px Europa, Avenir;
}

.grey {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: not-allowed !important;
}

/* The ghost, nudged to maintain perfect centering */
.main-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.main-container {
    height: 100%;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.main-screen {
    width: 1200px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin: 0 20px;
}

.messages {
    display: inline-block;
    background: #242424;
    color: white;
    vertical-align: middle;
    width: 257px;
    height: 100%;
}

#rich-messages, #poor-messages {
    vertical-align: middle;
    height: 400px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    padding: 20px;
    margin-top: 150px;
    line-height: 1.5;
}

.messages ul {
    list-style: inside;
    list-style-type: square;
    padding-left: 0;
}

.time-screen {
    font-size: 2em;
    font-weight: 700;
    color: #6455c2;
}

#time:hover {
    cursor: pointer;
    color: darkcyan;
}

.time-screen.last-ten-seconds {
    color: darkred;
}

.player-screen {
    height: 608px;
    position: relative;
    width: 100%;
}

.race-line-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.race-line {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.race-line > * {
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

.race img {
    width: 50px;
}

#rich-race {
    padding-left: 50px;
    top: 530px;
}

#poor-race {
    padding-right: 50px;
    top: 530px;
}

.race-score {
    color: cornflowerblue;
    padding: 3px;
    width: 100px;
    background: white;
}

#rich-race:after, #poor-race:after {
    width: 40px;
    font-size: 0.8em;
    font-weight: bold;
    background: white;
    color: cornflowerblue;
    content: attr(title);
    position: absolute;
    border-radius: 3px;
    margin-top: 41px;
}

#rich-race:after {
    margin-left: -37px;
}

#poor-race:after {
    margin-left: -51px;
}

.sprite-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.sprite-container img {
    width: 30%;
    margin: 25px;
}

.poor {
    background: #F8E1DD;
    height: 100%;
    width: 50%;
    position: relative;
    float: left;
}

.rich {
    background: #c9c0fb;
    height: 100%;
    width: 50%;
    position: relative;
    float: left;
}

#clickgold, #clickscore {
    position: absolute;
    top: 106px;
}

#clickgold img, #clickscore img {
    width: 110px;
}

#clickgold {
    left: 24px;
}

#clickscore {
    left: 375px;
}

.unclickable img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.clickable {
    z-index: 1000;
}

.clickable:hover {
    cursor: pointer;
}

.clickable:hover .clickbutton {
    background: #da6262;
}

.clickable:active .clickbutton {
    background: #da8f00;
    box-shadow: 0px 2px #a7466d;
}

.clickbutton {
    font-weight: 700;
    padding: 4px;
    width: 100px;
    border-radius: 5px;
    color: white;
    background: indianred;
    position: absolute;
    margin-left: 25px;
    margin-top: -19px;
    box-shadow: 0px 3px #a7466d;
}

#clickscorebutton {
    left: 10px;
}

.status {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 25px;
    font-size: 1.5em;
    font-weight: 700;
}

.clickable:hover:before{
    background: #303030;
    border-radius: 5px;
    color: #fff;
    content: attr(title);
    padding: 5px 15px;
    position: absolute;
    margin-left: 12px;
    margin-top: -17px;
}

/*.unclickable:before {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: deepskyblue;
    color: white;
    content: attr(title);
    position: absolute;
    margin-top: 45px;
    margin-left: 34px;
    z-index: 100;
}*/

.stat-screen {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.stats {
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    height: 108px;
    background: rgba(255, 255, 255, 0.4);
}

.stat-circle {
    width: 70px;
    height: 70px;
    background: black;
    font-weight: 700;
    font-size: 1.7em;
    color: white;
    border-radius: 50%;
    display: table;
    margin: 0 auto;
}

.stat-text {
    display: table-cell;
    vertical-align: middle;
}

.stat-description {
    display: block;
}

.item-screen {
    text-align: center;
}

.item-screen-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    font-weight: 700;
    padding: 5px 0;
    background: black;
    color: white;
    margin-top: 20px;
}

.item-cell {
    width: 10%;
    overflow: hidden;
    float: left;
    text-align: center;
    padding: 15px 0;
    margin: 0;
}

.item-cell:nth-child(odd) {
    background: #C9E9BD;
}

.item-cell:nth-child(even) {
    background: gold;
    background: #a2d9a9;
}

.item-cell:hover {
    cursor: pointer;
    background: #fffad9;
    transition: 0.2s;
}

.item-coin {
    display: inline-block;
    margin-right: 3px;
    width: 15%;
}

.item-cost {
    display: inline-block;
}

.item-name {
    font-weight: 700;
    margin: 0 10px;
}

.item-img {
    width: 90px;
    height: 90px;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 15px;
}

.item-img img {
    width: 100%;
    height: 100%;
}

.unbuyable, .unbuyable:hover {
    background: #e5e5e5 !important;
    cursor: default;
}

.unbuyable img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.item-cell:hover:after{
    background: #303030;
    border-radius: 5px;
    color: #fff;
    content: attr(title);
    padding: 5px 15px;
    z-index: 100;
    position: absolute;
    margin-left: -110px;
    margin-top: -195px;
}